<h1>Bienvenue sur la page des profiles auteurs de The Gossip Project</h1>

<br><br>

<p>
  <a href="<%= new_user_path %>" class="btn btn-success">Créé votre compte!</a>
</p>

<br><br>

<h1>Voici la liste des auteurs:</h1>

<br><br><br>

<% @gossips.each do |user| %>
  <h2><strong><%= user.first_name %></strong></h2>
  <p>
    <a href="<%= user_path(user.id) %>" class="btn btn-primary">Lire la suite</a>
  </p>
  <br><br>
<% end %>